body {
    box-sizing: content-box;
    margin: 2rem;
    padding: 2rem;
    background: rgb(54, 1, 10);
    background: linear-gradient(360deg, rgba(54, 1, 10, 0.908000700280112) -50%, rgba(199, 182, 235, 1) 100%);
}


header {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 1rem;
}

.card {
    border: 6px;
    border-color: rgba(186, 162, 139, 0.94);
    border-style:outset;
    margin: 2rem;
    text-align: center;
    width: 20rem; 
}

.img {
    height: 25rem;
    padding-left: 9%;
    padding-right: 9%;
    padding-top: 10%;
}

h1 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 4rem;
    margin-top: 2rem;
    font-size: x-large;
    text-align: center;
}

h2 {
    padding: 4rem;
    text-align: center;
    border-bottom: 2px;
    border-radius: 10px;
    border-bottom-style:solid;
    border-color: rgba(186, 162, 139, 0.94);
}

h3 {
    text-align: center;
    padding-top: 3rem;
    border-top: 2px;
    border-radius: 10px;
    border-top-style:solid;
    border-color: rgba(186, 162, 139, 0.94);
}

h4 {
    margin-top: 3rem;
    margin-bottom: 4rem;
    text-align: center;}

p {
    text-align: center;
}

form {
    padding: 2rem;

}
.usName {
    text-align: end;
    align-self: flex-end;
}
.form-check {
    margin-top: 2rem;
    padding: 2rem;
    align-items: center;
}

.btn-dark {
    margin-bottom: 2rem;
    text-align: center;
}

footer {
    text-align: center;
    padding: 1rem;
    font-size: small;
    
}